/ {
  // Motivation for having different overlays: we plan to use differents boards.
  leds {
    // compatible = "gpio-leds";  we don't need, is a child of 'leds' node
    led_d8: d8 {
      gpios = <&gpio2 02 GPIO_ACTIVE_HIGH>;
		  label = "Led Arduino D8";
    };
  };
  aliases {
    led1 = &led_d8;
  };
};